@mixin image-background($image-url, $width: null, $height: null) {
  background-image: url($image-url);
  width: $width !important;
  height: $height;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
}

@mixin content-center($color, $top) {
  color: var($color);
  text-align: center;
  position: absolute;
  top: $top;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}

// @mixin btn($btn-size){
//   border-radius: 30px;
//   padding: $btn-size;
// }

// @mixin btn ($fontSize, $px, ) {
//   border-radius: 30px;
//   margin-right: 15px;
//   font-family: u.$font;
//   font-weight: 400;
// }
