@use "../util" as u;
@use "../global" as g;

.btn {
  border-radius: 50px;
  margin-right: 15px;
  font-family: u.$font;
  font-weight: 400;
}

.large-btn {
  font-size: 17px;
  font-weight: 400;
  padding: 11px 21px;
}


.apple-watch-video {
  overflow: hidden;
  position: relative;

  video {
    object-fit: cover;
    min-width: 100%;
    width: auto;
    height: 73vh;
    z-index: -1;
  }

  .apple-watch-content {
    text-align: center;
    position: absolute;
    top: 77%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }
}

.product-content-bottom {
  @include u.content-center(--headline-text-dark, 80%);
}


.product-content {
  @include u.content-center(--headline-text-light, 20%);
}

.heading-large-light h2 {
  @include g.headline-large(--headline-text-light);
}

.subhead-large-light {
  @include g.subhead(--headline-text-light);
}

.heading-large-dark h2 {
  @include g.headline-large(--headline-text-dark);
}

.subhead-large-dark {
  @include g.subhead(--headline-text-dark);
}

.apple-event {
  @include u.image-background(
    "../../assets/images/homepage/hero_6_apple_event_may__twad2h57rleu_large_2x.jpg",
    100%,
    624px
  );
}

.iphone15-pro {
  @include u.image-background(
    "../../assets/images/homepage/hero_iphone_family_b__fq54ide73seq_large_2x.jpg",
    100%,
    624px
  );
}

.vision-pro {
  // margin-top: 10rem;
  @include u.image-background(
    "../../assets/images/homepage/hero_apple_vision_pro_enhanced_endframe__b917czne63hy_xlarge_2x.jpg",
    100%,
    624px
  );
}

// .macBook-air {
//   // margin-top: 10rem;
//   @include u.image-background(
//     "../assets/images/homepage/hero_apple_vision_pro_enhanced_endframe__b917czne63hy_xlarge_2x.jpg"
//   );
// }


.sub-hero-img1 {
  @include u.image-background(
    "https://www.apple.com/v/home/bm/images/promos/apple-watch-series-9/promo_apple_watch_series_9_order__b3u85rm9zf6u_large_2x.jpg"
  );
}

.unit-image-wrapper,
.unit-image {
  @include u.image-background(
    "https://www.apple.com/v/home/bm/images/promos/apple-watch-series-9/promo_apple_watch_series_9_order__b3u85rm9zf6u_large_2x.jpg"
  );
}


// --- start sub-hero banner ---
.subhead-dark {
  @include g.medium-fw(21px);
  color: var(--headline-text-dark);
  line-height: 24px;

  sup {
    font-size: 12px;
  }
}

.subhead-light {
  @include g.medium-fw(--headline-text-light);
}

.subhead-dark {
  @include g.medium-fw(--headline-text-dark);
}

.heading-small-dark h2 {
  @include g.headline-small(--headline-text-dark);
}

.heading-small-light h2 {
  @include g.headline-small(--headline-text-light);
}

// .macBook-air {
//   @include u.image-background(
//     "../../assets/images/homepage/hero_macbook_air_m3__cp4t7pn8zqaa_largetall.jpg",
//     100%,
//     624px
//   );
// }

.img-promotion-wrapper {
  @include u.image-background(
    "../../assets/images/homepage/promo_macbook_air_m3__e43jegok3wuq_large_2x.jpg",
    100%,
    580px
  );

  // @include u.breakpoint-down(small) {
  //   @include u.image-background(
  //     "../../assets/images/homepage/promo_macbook_air_m3__e43jegok3wuq_large_2x.jpg",
  //     734px,
  //     500px
  //   );
  //   background-size: 734px 500px;
  // }
}

.img-watch-wrapper {
  @include u.image-background(
    "../../assets/images/homepage/promo_apple_watch_series_9_order__b3u85rm9zf6u_large_2x.jpg",
    100%,
    580px
  );
}

.img-ipad-wrapper {
  @include u.image-background(
    "../../assets/images/homepage/promo_ipad__fioegapg12qi_large.jpg",
    100%,
    580px
  );
}

.img-airpodPro-wrapper {
  @include u.image-background(
    "../../assets/images/homepage/promo_airpods_pro_order__d8xv36p4uwae_large_2x.jpg",
    100%,
    580px
  );
}

.img-card-wrapper {
  @include u.image-background(
    "../../assets/images/homepage/tile__cauwwcyyn9hy_large_2x.jpg",
    100%,
    580px
  );
}

.img-tradeIn-wrapper {
  @include u.image-background(
    "../../assets/images/homepage/promo_iphone_tradein__bugw15ka691e_large.jpg",
    100%,
    580px
  );
}

// @include u.breakpoint-down(small) {
//   display: grid;
//   grid-template-columns: 1fr;

// }
// --- end sub-hero banner ---

// .img-card-wrapper {
//   @include u.image-background(
//     "../../assets/images/homepage/tile__cauwwcyyn9hy_large_2x.jpg",
//     900px,
//     580px
//   );
// }
// .img-trandIn-wrapper {
//   @include u.image-background(
//     "../../assets/images/homepage/promo_iphone_tradein__bugw15ka691e_large.jpg",
//     900px,
//     580px
//   );
// }


// --- start TV autoplay carousel ---
.autoPlay-carousel-item {
  width: 1250px !important;
}

// --- end TV autoplay carousel ---




// infinite-auto-slide
.slider {
  position: relative;
  /* width: 90%; */
  display: grid;
  place-items: center;
  overflow: hidden;

  .slide-track {
    display: flex;
    // width: calc(50rem * 6);
    animation: scroll 40s linear infinite;
  }

  .slide-track:hover {
    animation-play-state: paused;
  }

  .slide {
    height: 236px;
    width: 500px;
    display: flex;
    align-items: center;
    padding: 15px;

    img {
      width: 100%;
      transition: transform 1s;
    }

    img:hover {
      transform: translateZ(20px);
    }
  }

  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-250px * 6));
    }
  }
}
